<div class="container">
    <div class="row">
        <div class="col-md-2">
            <app-aside></app-aside>
        </div>
        <div class="col-md-5 offset-1">
            <form class="margin" #f='ngForm' (ngSubmit)="actualizar(f)">
                <div class="form-group">
                    <label for="marca">Nombre del producto</label>
                    <input type="text" [(ngModel)]="producto.nombre" name="nombre" value="{{ producto.nombre }}" class="form-control" placeholder="Ingresa el nombre del producto">
                </div>

                <div class="form-group">
                    <label for=""> Categoria del producto </label>
                    <input type="text" [(ngModel)]="producto.categoria" name="categoria" value="{{ producto.categoria }}" class="form-control" placeholder="Ingresa la categoria del producto">
                </div>

                <div class="form-group">
                    <label for="categoria"> Modelo del producto </label>
                    <input type="text" [(ngModel)]="producto.modelo" name="modelo" class="form-control" value="{{ producto.modelo }}" placeholder="Ingresa el modelo del producto">
                </div>

                <div class="form-group">
                    <label for="">Maraca del producto</label>
                    <input type="text" [(ngModel)]="producto.marca" value="{{ producto.marca }}" name="marca" class="form-control" placeholder="Ingresa la marca del producto">
                </div>

                <div class="form-group">
                    <label for="">Precio de compra</label>
                    <input type="text" [(ngModel)]="producto.precioCompra" name="precioCompra" value="{{ producto.precioCompra }}" class="form-control" placeholder="Ingresa el precio de compra del producto">
                </div>


                <div class="form-group">
                    <label for="">Precio de venta</label>
                    <input type="text" [(ngModel)]="producto.precioVenta" name="precioVenta" value="{{ producto.precioVenta }}" class="form-control" placeholder="Ingresa el precio de venta del producto">
                </div>

                <button class="btn btn-primary btn-block" (click)="actualizar(f)"> Actualizar </button>
                <button class="btn btn-danger btn-block" routerLink="/home"> Regresar </button>
            </form>
        </div>
    </div>
</div>