<div class="container">
    <div class="row">
        <div class="col-md-2">
            <app-aside></app-aside>
        </div>
        <div class="col-md-5 mt-4">
            

            <div class="card">
                
                <div class="card-body">
                    <h2 class="card-title" >
                        {{ producto.nombre  | uppercase  }}
                    </h2>
                    
                    <h3 class="mt-3"  >
                        CATEGORIA: {{ producto.categoria  | uppercase  }}
                       
                    </h3>
                    <h3 class="mt-3" >
                        
                        MODELO: {{ producto.modelo  | uppercase  }}
                    </h3>
        
                    <h4 class="mt-4" >
                        PRECIO: {{ producto.precioVenta  | uppercase  }}
                    </h4>
        
                    
                    <h4 class="mt-4" >
                        MARCA: {{ producto.marca  | uppercase  }}
                    </h4>
        
        
                    <button class="btn btn-block btn-success mt-5" > COMPRAR </button>
                </div>
    
            </div>
        
        </div>
        <div class="col-md-5 mt-3">
            <img  class="img-fluid" src="../../../assets//img/productos/talador.jpg"  >  
        </div>
    </div>
</div>