<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <app-aside></app-aside>
        </div>
        <div class="col-md-5">
            <h3> Agrega un producto</h3>
            <form #form='ngForm' (ngSubmit)="agregar(form)">
                <div class="form-group">
                    <input type="text" name="nombre" [ngModel]="nombre" class="form-control">
                    <label for="producto.nombre"> Nombre del producto</label>
                </div>
                <div class="form-group">
                    <input type="text" name="categoria" [ngModel]="categoria" class="form-control">
                    <label for="nombre"> Categoria del producto</label>
                </div>
                <div class="form-group">
                    <input type="text" name="modelo" [ngModel]="modelo" class="form-control">
                    <label for="nombre"> Modelo del producto</label>
                </div>
                <div class="form-group">
                    <input type="text" name="marca" [ngModel]="marca" class="form-control">
                    <label for="nombre"> Marca del producto</label>
                </div>
                <div class="form-group">
                    <input type="text" name="precioCompra" [ngModel]="precioCompra" class="form-control">
                    <label for="nombre"> Precio a la compra</label>
                </div>

                <div class="form-group">
                    <input type="text" name="precioVenta" [ngModel]="precioVenta" class="form-control">
                    <label for="nombre"> Precio a la venta</label>
                </div>
                <div class="form-group">
                    <input type="text" name="disponible" [ngModel]="disponible" class="form-control">
                    <label for="nombre"> Disponible</label>
                    <button type="submit" class="btn btn-success btn-block ">  Agergar </button>
                </div>
            </form>
        </div>

       <div class="col-md-5">
        
            <a href="#"  *ngFor="let producto of productos"  class="badge badge-success">{{ producto.categoria }}</a>

        <div class="card" style="width: 18rem;" *ngFor="let producto of productos">
            <div class="card-body">
                <h4 class="card-title">Nombre: {{ producto.nombre }} </h4>
                <p class="card-text"> Categoria: {{ producto.categoria }}</p>
                <p class="card-text"> Modelo: {{ producto.modelo }} </p>
                <p class="card-text"> Marca: {{ producto.marca }}</p>
                <p class="card-text"> Precio: {{ producto.precioVenta }}</p>
                <p class="card-text"> Disponible: {{ producto.disponible }} </p>
                <button class="btn btn-success btn-block" [routerLink]="['/producto', producto._id]"> Ver más </button>

            </div>
            <div class="card-footer">
                <button class="btn btn-block btn-primary" > 
                    <i class="fas fa-edit"></i>    
                </button>
                <button class="btn btn-block btn-danger" >
                    <i class="fas fa-trash"></i>    
                </button>
            </div>
        </div>
    </div>

    </div>
        
</div>