
        <div class="box"  routerLinkActive="active" >
            <a routerLink="/home" > 
                <i class="fas fa-tools"></i>

            </a>
        </div>
        <div class="box" routerLinkActive="active">
            <a routerLink="/servicio" >
                <i class="fas fa-desktop"></i>
            </a>
        </div>
        <div class="box">
            <i class="far fa-folder"></i>
        </div>

        <div class="box">
            <i class="fas fa-cash-register"></i>

        </div>
